<template>
  <section class="container">
    <button @click="login" v-if="!isLogin">Login</button>
    <button @click="logout" v-else>Logout</button>
  </section>
</template>

<script>
import cookie from 'js-cookie'
export default {
  computed: {
      isLogin() {
        return this.$store.state.isLogin
      }
  },
  methods: {
    login() {
        const payload = {
          username: "user@email.com",
          password: "qweqwe",
          grant_type: "password",
          client_id: 1,
          client_secret:'ZtppjuOEWcHlJOAqqWlV9ep4D5klbkknBERUcqkc'
        }
        // body content untuk login tentu disesuaikan dengan API yang tersedia
        // http request dengan axios
        this.$axios.$post('http://localhost:8000/oauth/token/',payload)
            .then( (response) => {
                let access_token = response.access_token
                let expired = 0.5
                cookie.set('token', access_token, { expires: expired })
                this.$store.commit('SET_LOGIN', true)
            })
            .catch(function (error) {
                console.log(error)
            })
    },
    logout() {
        cookie.remove('token')
				this.$store.commit('SET_LOGIN',false)
    }
  }
}
</script>

<style>
.container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.title {
  font-family: "Quicksand", "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif; /* 1 */
  display: block;
  font-weight: 300;
  font-size: 100px;
  color: #35495e;
  letter-spacing: 1px;
}

.subtitle {
  font-weight: 300;
  font-size: 42px;
  color: #526488;
  word-spacing: 5px;
  padding-bottom: 15px;
}

.links {
  padding-top: 15px;
}
</style>
