<template>
  <div class="container">
      <h1> Hanya untuk yang login </h1>
  </div>
</template>
 
<script>
export default {
  middleware: "auth",
}
</script>
<style>
.container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
</style>